DJANGO_SECRET_KEY=change-me-to-something-random-in-production
DEBUG=1

# Initialer Admin-Account (wird beim ersten Start automatisch angelegt)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=changeme
DJANGO_SUPERUSER_EMAIL=admin@local.dev
